asth-test.out.*
*.pyc
symb-test.out.*
*.o
DONE
*.aux
*.dvi
*.log
*.out
*.swp
*.tex~
*.txt~
*.bib~
*eps-converted-to.pdf
scripts/py_animate_data~
scripts/py_compare_snapshot~
scripts/py_show_ts~
scripts/py_visual_data~
*.blg
*.spl
makefile~
*~

# Build directories
build/
build*/
benchmark-data/

# Clangd files
.cache/

# Other
compile_commands.json
.DS_Store
.vscode
acc-comm/acm/detail/accruntime_wrapper_test.cc
acc-comm/acm/detail/drafting-remove.cc
acc-comm/acm/detail/vector-non-class.h
acc-comm/acm/thrust-test.cc
acc-comm/acm/detail/tensor.h
