asth-test.out.*
*.pyc
symb-test.out.*
*.o
DONE
*.aux
*.dvi
*.log
*.out
*.swp
*.tex~
*.txt~
*.bib~
*eps-converted-to.pdf
scripts/py_animate_data~
scripts/py_compare_snapshot~
scripts/py_show_ts~
scripts/py_visual_data~
*.blg
*.spl
makefile~
*~

# Build directories
build/
build*/
benchmark-data/

# Clangd files
.cache/

# Other
compile_commands.json
.DS_Store
.vscode
acc-comm/acm/detail/accruntime_wrapper_test.cc
acc-comm/acm/detail/drafting-remove.cc
acc-comm/acm/detail/vector-non-class.h
acc-comm/acm/thrust-test.cc
samples/tfm-comm/tmp/buffer.h
samples/tfm-comm/tmp/dalloc.cu
samples/tfm-comm/tmp/dalloc.h
samples/tfm-comm/tmp/device_buffer copy.h
samples/tfm-comm/tmp/device_buffer.cc
samples/tfm-comm/tmp/device_buffer.h
samples/tfm-comm/tmp/gpu copy 2.cu
samples/tfm-comm/tmp/gpu copy 3.cu
samples/tfm-comm/tmp/gpu copy 4.cu
samples/tfm-comm/tmp/gpu copy 5.cu
samples/tfm-comm/tmp/gpu copy 6.cu
samples/tfm-comm/tmp/gpu copy.cu
samples/tfm-comm/tmp/io copy-unique-ptr-attempit.h
samples/tfm-comm/tmp/io copy.h
samples/tfm-comm/thrust-test copy.cc
samples/tfm-mpi/tfm copy 2.cc
samples/tfm-mpi/tfm copy.cc
src/core/grid-debug-tests-tmp.cc
acc-comm/acm/detail/tensor.h
acc-comm/acm/detail/static_ntuple.cc
acc-comm/acm/detail/static_ntuple.h
acc-comm/acm/detail/pack copy.cu
samples/thrusttest/build-cuda.sh
samples/thrusttest/build-hip.sh
samples/thrusttest/build-host.sh
samples/thrusttest/thrust.cu
samples/tfm-mpi/visualize-simple.py
